<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="itemSQL">
 	<!--  왼쪽 카테고리 가져오기 -->
 	<select id="getCategory" resultType="item">
 		select distinct main_codename from item	
 	</select>
 	
 	<select id="getImageList" parameterType="String" resultType="item">
 		select * from item 
 		where main_codename=#{main_codename} AND rownum &lt;=5 order by seq desc
 	</select>
 
 </mapper>