<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="itemSQL">
 	<select id="getItemList" resultType="item">
		select distinct main_codename from item
 	</select>
 	
 	<select id="getInfoList" parameterType="java.util.Map" resultType="item">
 		select * from
		(select rownum rn, tt.*from
		(select * from item 
		where main_codename=#{main_codename} 
		order by seq desc)tt
		)where rn between ${startNum} and ${endNum}
 	</select>
 	
 	<select id="getTotalA" parameterType="String" resultType="int">
 		select count(*)from item where main_codename=#{main_codename}
 	</select>
 </mapper>